<div class="container-fluid">
    <div class="row">
        <div class="col-2 Nav fixed">
            <div class="row">
                <div class="mb-2 mt-3">
                    <img src="assets/img/vezar.png" alt="Logo">
                </div>
                <div>
                    <hr class="white">
                </div>
                <div class="mt-1">
                    <h4 class="white text-center admin"><i class="far fa-user"></i> Admin</h4>
                </div>
                <div>
                    <hr class="white">
                </div>
                <div class="mt-1 vistas">
                    <a href="categorias.frm.php"><h4 class="white">Categorias</h4></a>
                    <a href="mesa.frm.php"><h4 class="white">Codigo QR</h4></a>
                    <a href="dashboard.frm.php"><h4 class="white">Dashboard</h4></a>
                    <a href="plantillas.frm.php"><h4 class="white">Plantillas</h4></a>
                    <a href="producto.frm.php"><h4 class="white">Productos</h4></a>
                    <a href="usuarios.frm.php"><h4 class="white">Usuarios</h4></a>
                </div>
                <div class="white text-center">
                    <h1 id="vista">
                    <a href="login.frm.php" class="white"><i class="fas fa-sign-in-alt"></i></a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-10">
